.color-1{
    background-color: #244F75;
}
.color-2{
    background-color: #60BFBF
}
.color-3{
    background-color: #8C4B7E;
}
  
.color-4{
    background-color: #F8BB44;
}
  
.color-5{
    background-color: #F24B4B;
}